@media all and (min-width: 740px) {

    #isu-menu-nav .sm a span.sub-arrow {
        position: absolute;
        left: auto;
        overflow: hidden;
        font: bold 16px/34px monospace !important;
        text-align: center;
        text-shadow: none;
        top: 50%;
        margin-top: -4px;
        right: 10px;
        width: 6px;
        height: 6px;
        border: 1px solid #ccc;
        border-width: 0px 1px 1px 0px;
        background: transparent;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    #isu-menu-nav .sm a:hover span.sub-arrow,
    #isu-menu-nav .sm a:focus span.sub-arrow,
    #isu-menu-nav .sm a:active span.sub-arrow,
    #isu-menu-nav .sm a.highlighted span.sub-arrow {
        border-color: #fff;
    }

    #isu-menu-nav .sm a.has-submenu {
        padding-right: 24px;
    }


    #isu-menu-nav #isu-index-menu ul {
        min-width: 528px;
    }

    #isu-menu-nav #isu-index-menu ul li {
        float: left;
    }

    #isu-menu-nav #isu-index-menu ul li:first-of-type a,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:hover,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:focus,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:active {
        min-width: 24px;
        padding-left: 6px;
    }

    #isu-menu-nav #isu-index-menu ul li:last-of-type a,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:hover,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:focus,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:active {
        min-width: 24px;
        padding-right: 6px;
    }

    #main-menu a span.sub-arrow {
        top: 50%;
        margin-top: -4px;
        right: 10px;
        width: 6px;
        height: 6px;
        border: 1px solid #444;
        border-width: 0px 1px 1px 0px;
        background: transparent;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    #main-menu a.active-trail span.sub-arrow,
    #main-menu a.active span.sub-arrow {
        border-width: 0px 2px 2px 0px;
        border-color: #000;
    }

    #main-menu a.has-submenu {
        padding-right: 24px;
    }

    #main-menu ul {
        min-width: 300px;
    }

    #zone-footer > .region:not(:last-child) {
        border-bottom: none;
        margin-bottom: 0;
    }

    .flexslider {
        display: block;
    }


    .luggage-grid .luggage-gridrow {
        width: 49.5%;
    }

}

@media all and (max-width: 739px) {

    .region-isu-menu {
        margin: 0;
    }

    #isu-menu-nav .sm ul {
        display: none !important;
    }

    .region-menu {
        margin: 0;
    }

    nav.navigation .secondary-menu {
        float: none;
    }

    nav.navigation .secondary-menu {
        margin-left: 0;
    }

    .zone-footer .block-menu-footer {
        float: none;
    }

    .panel-2col-bricks .panel-panel {
        width: 100%;
        margin-bottom: 32px;
    }

    .panel-2col-bricks .panel-col-last .inside {
        margin: 0;
    }
}

@media all and (max-width: 979px) {
    .item-list a {
        /*display: block;*/
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
    }

    .view .field-content a {
        display: block;
        width: 100%;
    }

    .zone-content h2.block-title {
        line-height: 2em;
    }

    .collapsed-indicator-img {
        margin-top: 0.5em;
        height: 1em;
    }

}

@media print {

    #isu_header_wordmark img {
        filter: invert(1) !important;
        filter: invert(100%) !important;
        -webkit-filter: invert(1) !important;
    }

    .region-branding {
        width: 100% !important;
    }

    .region-branding hr {
        background-color: #000 !important;
    }

    body,
    .section-header
    .zone-branding-wrapper {
        background-color: #fff !important;
    }

    .zone-isu-menu-wrapper,
    .zone-menu-wrapper,
    .zone-secondary-menu-wrapper,
    .zone-header-wrapper,
    .zone-preface-wrapper,
    #breadcrumb,
    .tabs,
    .section-footer,
    .content-type-indicator,
    .region-search,
    aside {
        display: none !important;
    }

    .node {
        background-color: transparent !important;
        font-family: Georgia, Palatino, Times, "Times New Roman", serif !important;
        font-size: 14px !important;
        line-height: 24px !important;
        padding: 0 !important;
        color: #333 !important;
        -webkit-box-shadow: transparent !important;
        box-shadow: none !important;
    }

    .title {
        color: #333 !important;
        text-shadow: none !important;
    }

    a, a:link, a:visited {
        color: #333 !important;
    }

    .section-content a, .section-content a:link, .section-content a:visited {
        text-decoration: underline !important;
    }

    a, p, ul, ol, li, img, span, strong, em {
        font-size: 18px !important;
    }

    .section-header,
    .zone-branding-wrapper,
    .title,
    .node {
        border: none !important;
    }

    .field.field-type-taxonomy-term-reference .field-items>.field-item>a {
        padding: 0 !important;
        display: inline !important;
        border: none !important;
    }

}

@media all and (max-width: 900px) {
    #search-block-form { max-width: inherit; }
}


@media all and (min-width: 740px) and (max-width: 979px) {
    .zone.zone-content aside {
        width: 580px;
    }

    .container-12 .grid-8.region {
        width: 100%;
    }

    .zone.zone-content aside {
        width: 100%;
    }

    .zone-content .region.region-content {
        width: 100%;
    }
}

@media all and (min-width: 980px) and (max-width: 1219px) {
    .item-list a {
        display: inherit;
    }

    .item-list a:hover {
        box-shadow: none;
        padding: 0;
        border: none;
        background-color: inherit;
    }
}

@media all and (min-width: 980px) {
    .item-list-js-enabled {
        display: block;
    }

    .collapsed-indicator-img {
        margin-top: 0.25em;
        height: 0.8em;
    }

    #region-footer-fourth ul li.leaf a {
        font-size: 1.1em;
    }

    #region-footer-fourth ul li.leaf a:hover {
        text-decoration: underline;
    }

    .caret {
        border-top: 6px solid #000;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin-top: 10px;
    }

}

@media all and (min-width: 980px) {
    .zone-content-wrapper .container-12 .grid-2 {
        width: 25% !important;
    }

    .zone-content-wrapper .container-12 .grid-10 {
        width: 71% !important;
    }
}

@media all and (min-width: 1220px) {
    .container-12:not(.sticky-top) {
        max-width: 1220px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}
