/* TESTING VERSION 6.1 */

/* -------------------- */
/* MICRO MOBILE         */
/* < 550px              */
/* -------------------- */ 

@media all and (max-width: 550px) {

    /* --- PEOPLE --- */

    .node-people .field-name-field-people-image {
        float: none;
        margin-right: 0;
    }

    .node-people .field-label-inline,
    .node-people .field-label-above {
        padding: 1rem;
    }

    .node-people .field-label-inline .field-label,
    .node-people .field-lable-inline .field-items,
    .node-people .field-label-above .field-label,
    .node-people .field-lable-above .field-items {
        display: block;
        width: auto;
        margin-bottom: 0.5rem;
        float: none;
        text-align: left;
    }

    /* --- EXPERTISE --- */

    .view-expertise .item-list > ul.item-list-item > li.views-row {
        width: 100%;
        float: none;
    }
}

/* -------------------- */
/* MOBILE and below     */
/* < 739px              */
/* -------------------- */ 

@media all and (max-width: 739px) {

    /* --- ISU Menu --- */

    .region-isu-menu { 
        margin: 0;
    }

    #isu-menu-nav .sm ul {
        display: none !important;
    }

    /* --- SEARCH --- */

    .region-search-inner .has-site-name-level-3 {
        margin-top: 1rem;
    }

    #search-block-form { 
        max-width: inherit; 
    }

    /* --- Search Menu --- */

    .region-search .block-menu .block-title,
    .region-search .block-menu .menu {
        text-align: left;
    }

    .region-search .block .menu li {
        margin-right: 0.5rem;
        margin-left: 0;
    }

    /* --- Main Menu --- */

    .region-menu {
        margin: 0;
    }

    nav.navigation .secondary-menu {
        float: none;
    }

    nav.navigation .secondary-menu {
        margin-left: 0;
    }

    /* --- Flexslider --- */

    .view-luggage-announcements .flexslider .flex-caption {
        position: static;
    }
}

/* -------------------- */
/* TABLET and below     */
/* < 979px              */
/* -------------------- */ 

@media all and (max-width: 979px) {
    .item-list a {
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
    }
}

/* -------------------- */
/* TABLET               */
/* 740px - 979px        */
/* -------------------- */ 

@media all and (min-width: 740px) and (max-width: 979px) {

    .container-12 .grid-8.region {
        width: 100%;
    }

    .zone.zone-content aside {
        width: 100%;
    }

    .zone-content .region.region-content {
        width: 100%;
    }
}

/* -------------------- */
/* TABLET and above     */
/* 740px +              */
/* -------------------- */ 

@media all and (min-width: 740px)  {

    /* --- ISU Menu --- */

    #isu-menu-nav .sm a span.sub-arrow {
        position: absolute;
        top: 50%;
        left: auto;
        right: 10px;

        height: 6px;
        width: 6px;
        margin-top: -4px;
        
        font: bold 16px/34px monospace !important;
        text-align: center;
        text-shadow: none;
        
        border: 1px solid #ccc;
        border-width: 0px 1px 1px 0px;
        background: transparent;
        border-radius: 0;

        overflow: hidden;

        transform: rotate(45deg);
    }

    #isu-menu-nav .sm a:hover span.sub-arrow,
    #isu-menu-nav .sm a:focus span.sub-arrow,
    #isu-menu-nav .sm a:active span.sub-arrow,
    #isu-menu-nav .sm a.highlighted span.sub-arrow {
        border-color: #fff;
    }

    #isu-menu-nav .sm a.has-submenu {
        padding-right: 24px !important;
    }

    #isu-menu-nav #isu-index-menu ul {
        min-width: 528px;
    }

    #isu-menu-nav #isu-index-menu ul li {
        float: left;
    }

    #isu-menu-nav #isu-index-menu ul li:first-of-type a,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:hover,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:focus,
    #isu-menu-nav #isu-index-menu ul li:first-of-type a:active {
        min-width: 24px;
        padding-left: 6px;
    }

    #isu-menu-nav #isu-index-menu ul li:last-of-type a,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:hover,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:focus,
    #isu-menu-nav #isu-index-menu ul li:last-of-type a:active {
        min-width: 24px;
        padding-right: 6px;
    }

    /* --- Main Menu --- */

    #main-menu a span.sub-arrow {
        top: 50%;
        right: 10px;

        height: 6px;
        width: 6px;
        margin-top: -4px;
        
        background: transparent;
        border: 1px solid #444;
        border-width: 0px 1px 1px 0px;
        border-radius: 0;

        transform: rotate(45deg);
    }

    #main-menu a.active-trail span.sub-arrow,
    #main-menu a.active span.sub-arrow {
        border-width: 0px 2px 2px 0px;
        border-color: #000;
    }

    #main-menu a.has-submenu {
        padding-right: 24px !important;
    }

    #main-menu ul {
        min-width: 300px;
    }

}

/* -------------------- */
/* DESKTOP and above    */
/* 980px +              */
/* -------------------- */ 

@media all and (min-width: 980px) {

    /* Modifies the alpha grid so the sidebars
       are wider. */

    .zone-content-wrapper .container-12 .grid-2 {
        width: 25% !important;
    }

    .zone-content-wrapper .container-12 .grid-10 {
        width: 71% !important;
    }
}

/* -------------------- */
/* WIDESCREEN and above */
/* 1220px +             */
/* -------------------- */ 

@media all and (min-width: 1220px) {
    .container-12:not(.sticky-top) {
        max-width: 1220px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}


/* -------------------- */
/* PRINT                */
/* -------------------- */ 

@media print {

    #isu_header_wordmark img {
        filter: invert(1) !important;
        filter: invert(100%) !important;
        -webkit-filter: invert(1) !important;
    }

    .region-branding {
        width: 100% !important;
    }

    .region-branding hr {
        background-color: #000 !important;
    }

    body,
    .section-header
    .zone-branding-wrapper {
        background-color: #fff !important;
    }

    .zone-isu-menu-wrapper,
    .zone-menu-wrapper,
    .zone-secondary-menu-wrapper,
    .zone-header-wrapper,
    .zone-preface-wrapper,
    #breadcrumb,
    .tabs,
    .section-footer,
    .content-type-indicator,
    .region-search,
    aside {
        display: none !important;
    }

    .node {
        background-color: transparent !important;
        font-family: Georgia, Palatino, Times, "Times New Roman", serif !important;
        font-size: 14px !important;
        line-height: 24px !important;
        padding: 0 !important;
        color: #333 !important;
        -webkit-box-shadow: transparent !important;
        box-shadow: none !important;
    }

    .title {
        color: #333 !important;
        text-shadow: none !important;
    }

    a, a:link, a:visited {
        color: #333 !important;
    }

    .section-content a, .section-content a:link, .section-content a:visited {
        text-decoration: underline !important;
    }

    a, p, ul, ol, li, img, span, strong, em {
        font-size: 18px !important;
    }

    .section-header,
    .zone-branding-wrapper,
    .title,
    .node {
        border: none !important;
    }

    .field.field-type-taxonomy-term-reference .field-items > .field-item > a {
        padding: 0 !important;
        display: inline !important;
        border: none !important;
    }
}
