/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nimbus Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-size: 17px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f3f3;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    display: block;
}

small {
    font-size: 0.85em;
}

p {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.25;
    /* margin-top: 0; */
    /* margin-bottom: 8px; */
    letter-spacing: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #888888;
    font-weight: normal;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

h2.node-title {
    font-size: 26px;
}

.node-title>a, .node-title>a:link, .node-title>a:visited {
    text-decoration: underline;
}

section section h1,
h3 {
    font-size: 1.25em;
}

section section section h1,
h4 {
    font-size: 1em;
}

section section section section h1,
h5 {
    color: #888;
    font-size: 1em;
}

section section section section section h1,
h6 {
    font-size: 0.857em;
}

p, dl, table, blockquote, pre, .wd-Alert, .wd-Alert--info, .wd-Alert--warning, .wd-Alert--error, .wd-Alert--success, .notify-msg {
    margin-bottom: 16px;
}

ul, ol {
    margin-left: 0;
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}

ul.right {
    text-align: right;
}

ul.hlist > li {
    float: left;
}

dl > dt + dt,
dl > dd + dt {
    margin-top: 5px;
}

dl > dt {
    font-weight: bold;
}

dl > dd {
    margin-left: 25px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    margin: 16px 0;
}

address {
    font-style: normal;
}

blockquote {
    border: 3px solid #F1BE48;
    border-width: 0 0 0 3px;
    color: #555;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 8px 16px 0 13px;
}

blockquote.wd-u-PullRight {
    border-width: 0 3px 0 0;
    padding-left: 16px;
    padding-right: 13px;
}

blockquote p {
    margin-bottom: 3px;
}

blockquote small {
    color: #888;
    display: block;
}

blockquote small:before {
    content: '\2014';
    margin-right: 2px;
}

cite {
    font-style: normal;
}

pre {
    background-color: rgba(102,128,153,0.1);
    border: 0 solid rgba(102,128,153,0.075);
    border-left: 10px solid rgba(102,128,153,0.075);
    font-family: Menlo,Consolas,"Courier New",monospace;
    font-size: 12px !important;
    line-height: 1.428571429;
    overflow: auto;
    padding: 10px 15px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
}

code {
    padding: 2px 4px;
    background-color: rgba(219,218,208,0.5);
    border-radius: 4px;
}

sub, sup {
    font-size: 75%;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

a, p, li, span, em {
    color: #333;
}

a em, a:link em, a:hover em, a:visited em {
    color: inherit;
}

ul {
    list-style-type: disc;
}

ul ul, ol ul {
    list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square;
}

table {
    border: none;
}

tr.even, tr.odd {
    background-color: transparent;
}

td {
    border-bottom: 1px solid #ddd;
}

.field-item td {
    min-width: 100px;
}

tr.even td {
    background: transparent;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}

th {

}

thead th, th {
    background: transparent;
    color: #333;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

tr:hover td {
    background-color: transparent;
}

a>.fa {
    margin-right: 10px;
}

.node ol,
.node ul {
  padding-left: 3em;
}

.title {
  color: #333;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 32px;
}

.node-unpublished {
    background: #fff4f4;
}

.node-unpublished:before {
  content: "Unpublished";
  font-weight: bold;
  color: crimson;
  float: right;
  font-size: 18px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.text-right {
  text-align: right;
}

.breadcrumb {
  padding-top: 0.5em;
}

/*////////////////////////////////////*/
/* Stuff */

.page {
    background-color: #fff;
}

.section-content>div {
    margin-bottom: 16px;
}

.zone-content-wrapper {
    padding-bottom: 24px;
}

#section-footer {
    background-color: #f3f3f3;
    padding-top: 32px;
    padding-bottom: 32px;
}

#section-footer a, #section-footer a:link, #section-footer a:visited, #section-footer p, #section-footer span, #section-footer li, #section-footer strong, #section-footer em {
    color: #333;
    font-size: 14px;
}

#section-footer a strong, #section-footer a:link strong, #section-footer a:hover strong, #section-footer a:visited strong,
#section-footer a em, #section-footer a:link em, #section-footer a:hover em, #section-footer a:visited em {
    color: inherit;
}

#section-footer h2, #section-footer h3, #section-footer h4, #section-footer h5, #section-footer h6 {
    color: #d3d3d3;
}

#section-footer a:link:hover,
#section-footer a:visited:hover {
    color: #cc0000;
    text-decoration: underline;
}

.section-content a {
    text-decoration: underline;
}

a, a:link, a:visited {
    color: #cc0000;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	border-radius: 2px;
}

input[type="text"] {
    height: 3em;
}

input[type=text], textarea {
    outline: none;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #F1BE48;
}

input[type="password"] {
    height: 3em;
    font-size: 1em;
    padding: 0;
}

input[type="submit"] {
    height: 3.25em;
    border-radius: 2px;
}

.form-submit.transparent {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.form-text.transparent {
    background: transparent;
    border: none;
    padding-left: 10px;
    color: #333;
    width: calc(100% - 50px);
    -webkit-transition: width 0.1s ease;
    -moz-transition: width 0.1s ease;
    -ms-transition: width 0.1s ease;
    -o-transition: width 0.1s ease;
    transition: width 0.1s ease;
}

.form-text.transparent:focus {
    border: none;
}

.region-search-inner input[type="submit"],
.region-search-inner input[type="submit"]:focus {
    background: url(../images/search.png) no-repeat 0 center;
    background-size: contain;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0px 0px 0px 20px;
}

.region-search-inner input[type=text],
.region-search-inner input[type=text]:focus,
.region-search-inner textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

#search-block-form {
    border-radius: 2px;
    float: right;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}

.region-search-inner .search-form-container.has-site-name-level-2 {
    margin-top: 6px;
}

.region-search-inner .search-form-container.has-site-name-level-3 {
    margin-top: 24px;
}

.page-search input#edit-keys,
.page form#search-block-form .form-item-search-block-form input.form-text {
    width: calc(100% - 62px);
}

.region-search-inner .block-search .block-title {
    color: white;
}

.region-search-inner .block-search-form.has-site-name-level-2 {
    margin-top: 6px;
}

.region-search-inner .block-search-form.has-site-name-level-3 {
    margin-top: 24px;
}

.region-search .block-search-form {
    margin-bottom: 0;
}

.region-search .block-search-form .form-wrapper {
    position: relative;
}

.region-search .block-search-form .form-text {
    font-size: 16px;
    padding: 8px 10px;
    height: 100%;
}

.region-search .block-search-form .form-text:not(.throbbing) {
    background-image: none;
}

/*////////////////////////////////////*/
/* ISU Menu Bar */

#zone-isu-menu-wrapper {
    background: #333;
    color: #ccc;
}

#isu-menu-nav .sm {
    z-index: 499 !important;
}

#isu-menu-nav .sm li {
    float: left;
}

#isu-menu-nav .sm ul li {
    float: none;
}

#isu-menu-nav .sm a,
#isu-menu-nav .sm a:hover,
#isu-menu-nav .sm a:focus,
#isu-menu-nav .sm a:active {
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 8px;
    text-decoration: none;
    transition: all .25s ease;
}

#isu-menu-nav .sm a:hover,
#isu-menu-nav .sm a:focus,
#isu-menu-nav .sm a:active,
#isu-menu-nav .sm a.highlighted {
    background-color: #555;
    color: #fff;
    transition: all 0.25s ease;
}

#isu-menu-nav .sm ul * {
    transition: display 0.5s ease;
}

#isu-menu-nav .sm ul a,
#isu-menu-nav .sm ul a:hover,
#isu-menu-nav .sm ul a:focus,
#isu-menu-nav .sm ul a:active {
    background-color: #555;
    color: #ccc;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 4px 10px;
    min-width: 20px;
    transition: all .25s ease;
}

#isu-menu-nav .sm ul a:hover,
#isu-menu-nav .sm ul a:focus,
#isu-menu-nav .sm ul a:active,
#isu-menu-nav .sm ul a.highlighted {
    background-color: #777;
    color: #fff;
    transition: all 0.25s ease;
}

#isu-menu-nav #isu-index-menu {
    float: left;
}

#isu-menu-nav #isu-index-menu ul a,
#isu-menu-nav #isu-index-menu ul a:hover,
#isu-menu-nav #isu-index-menu ul a:focus,
#isu-menu-nav #isu-index-menu ul a:active {
    padding: 4px 3px;
    text-align: center;
}

#isu-menu-nav #isu-quick-links-menu {
    float: right;
}

/*////////////////////////////////////*/
/* Site Name/Slogan */

.zone-branding-wrapper {
    background-color: #cc0000;
    border-bottom: 9px solid #F1BE48;
    padding: 16px 0px;
}

#isu_header_wordmark,
#isu_footer_wordmark {
    display: block;
    max-width: 100%;
}

#isu_header_wordmark img,
#isu_footer_wordmark img {
    width: 100%;
    height: auto;
}

#isu_header_wordmark {
    width: 375px;
}

#isu_footer_wordmark {
    width: 200px;
}

.site-name-level-3 {
    display: block;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 16px;
    font-weight: 400;
}

.site-name-level-3 a {
  color: #cc0000;
  text-decoration: none;
}

.region-branding hr {
    background-color: #cc0000;
    border-top-color: rgba(255, 255, 255, 0.5);
    margin: 14px 0;
}

#region-branding .site-name-slogan a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.site-name-level-2 {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 16px;
    padding: 7px 0 0;
    border: none;
}

#region-branding .site-name-level-2 a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.site-name-level-2 a:hover {
	color: #fff;
    text-decoration: none;
}

.zone-footer ul.menu li {
    list-style-type: none;
    list-style-image: none;
}

.zone-footer ul.menu li a {
    text-decoration: none;
}

.zone-footer ul.menu li a:hover {
    text-decoration: none;
}

.zone-menu .form-type-textfield label {
    display: none;
}

.zone-menu .form-type-textfield input {
    width: 100%;
}

/* --------------------- */
/* Header Search Field
/* --------------------- */

input#edit-search-block-form--2 {
    padding: 10px;
}

/*////////////////////////////////////*/
/* Views */
.zone-content .views-row {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom:  1px solid #ddd;
}

/*////////////////////////////////////*/
/* Highlights */
.view-highlights article {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/*////////////////////////////////////*/
/* Main menu */

.sm {
    z-index: 498 !important;
}

#main-menu a,
#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active {
    line-height: 1;
    transition: all 0.1s ease;
    color: #444;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    padding: 16px 12px;
}

#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active,
#main-menu a.highlighted,
#main-menu a.active-trail,
#main-menu a.active {
    border-bottom: 3px solid #bbb;
    background-color: #ddd;
}

#main-menu a.active-trail,
#main-menu a.active {
    font-weight: bold;
    color: #000;
}

#main-menu a span.sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#main-menu ul {
    background-color: #fff;
    box-shadow: 0px  2px 3px 0px #aaa;
    padding: 0px 16px;
}

#main-menu ul * {
    transition: display 0.5s ease;
}

#main-menu ul a,
#main-menu ul a:hover,
#main-menu ul a:focus,
#main-menu ul a:active {
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    line-height: inherit;
    font-weight: bold;
    letter-spacing: .5px;
    text-decoration: none;
    border-bottom: none;
    font-size: inherit;
    background-color: transparent;
}

#main-menu ul a:hover,
#main-menu ul a:focus,
#main-menu ul a:active,
#main-menu ul a.highlighted,
#main-menu ul a.active-trail,
#main-menu ul a.active {
    border-bottom: none;
    background-color: transparent;
    color: #cc0000;
}

#main-menu-nav .sm-menu-btn {
    color: #444;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: auto;
    padding: 16px 12px;
    text-indent: 40px;
    width: auto;
}

#main-menu-nav .sm-menu-btn-icon {
    left: 14px;
}

/*////////////////////////////////////*/

/*////////////////////////////////////*/
/* Secondary menu */

nav.navigation .secondary-menu {
    display: block;
    margin-bottom: 0;
    float: left;
    background: #333;
}

nav.navigation .secondary-menu>li {
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav.navigation .secondary-menu>li a {
    display: block;
    padding: 15px 16px;
}

nav.navigation .secondary-menu>li a:hover,
nav.navigation .secondary-menu>li a.active-trail {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}



/*////////////////////////////////////*/
/* JP */
div#region-search section.block-menu ul.menu>li a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

div#region-search section.block-menu {
    margin-top: 6px;
}

div#region-search section.block-menu .block-title {
    display: none;
}

div#region-search section.block-menu .menu {
    float: right;
}

div#region-search section.block-menu .menu li {
    display: inline-block;
}


div#region-search section.block-menu .menu li:last-child {
    padding-right: 0;
}

/*  /JP */

/*////////////////////////////////////*/
/* Main menu container */
/*.region-menu {
  border-bottom: 1px solid #ddd;
}*/

.zone-menu-wrapper {
  background-color: #eee;
}

/*////////////////////////////////////*/
/* Sidebar */

.zone-content .block,
.zone-postscript .block,
.zone-preface .block {
    margin-bottom: 1em;
}

/* Views Specific overrides */
.zone-content .block .block .view-content > .views-row.views-row-odd,
.zone-content .block .block .view-content > .views-row.views-row-even {
    border: none;
    background: none !important;
    padding: 0;
}

/*////////////////////////////////////*/
/* Search Results */
.search-result {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(200, 200, 200, 0.9);
    padding: 0.5em;
}

.page-search .content article {
    margin-bottom: 32px;
}

.page-search .content article footer {
    padding-top: 0;
}

/*////////////////////////////////////*/
/* Fields */
.field:not(:last-child),
.node-biblio .content>div:not(:last-child) {
    margin-bottom: 10px;
}

.field.field-name-body {
    overflow: hidden;
}

.field-item.odd,
.field-item.even {
    margin-right: 0.5em;
}

.field.field-name-field-tags,
.field.field-name-field-category {
    /*margin-top: 10px;*/
}

.field.field-name-field-tags .field-item,
.field.field-name-field-category .field-item {
    display: inline;
}

.field.field-name-field-tags .field-item a,
.field.field-name-field-category .field-item a {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color 0.1s ease;
    color: #666666;
    text-decoration: none;
    margin-bottom: 5px;
}

.field.field-name-field-tags .field-item a:hover,
.field.field-name-field-category .field-item a:hover  {
    /*background-color: rgba(206, 201, 187, 0.1);*/
    background-color: #f5f5f5;
    text-decoration: none;
}

.field-name-field-people-title-category a,
.field-name-field-people-title-category div {
    color: #336599;
}

.field .field-label,
.node-biblio .content h3 {
    color: #444;
    padding-right: 5px;
    margin-top: 2px;
}

.page-node-add .fieldset-legend,
.page-node-edit .fieldset-legend{
    font-weight: bold;
}
/*////////////////////////////////////*/
/* A Tag Mobile Styling */
.item-list ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

/*////////////////////////////////////*/
/* Sticky menu Styling */
.zone-menu.sticky-menu {
    position: fixed;
    top: 0;
    background: #333;
    z-index: 2;
    width: 100%;
}

#zone-menu.sticky-top {
    position: fixed;
    top: 0;
    background: #eee;
    width: 100%;
    z-index: 3;
    -webkit-box-shadow: 0 1px 5px #999;;
    -moz-box-shadow: 0 1px 5px #999;;
    box-shadow: 0 1px 5px #999;;
    margin-left: 0;
}

/*////////////////////////////////////*/
/* Flexslider */
.flexslider {
    border: none;
    margin: 0;
}

.flexslider .flex-caption {
    position: absolute;
    right: 1em;
    bottom: 2em;
    background: rgba(255, 255, 255, 0.85);
    padding: 1em;
    -webkit-box-shadow: 0 0 0.4em rgba(100, 100, 100, 0.85);
    -moz-box-shadow: 0 0 0.4em rgba(100, 100, 100, 0.85);
    box-shadow: 0 0 0.4em rgba(100, 100, 100, 0.85);
}

.flexslider img {
    height: 100%;
}

.flexslider .flex-caption p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 1em;
}

.flexslider .flex-prev,
.flexslider .flex-next {
    color: rgba(51, 51, 51, 0.9);
    height: inherit;
}

.flex-control-nav {
    z-index: 2;
    position: static;
    margin-top: 10px;
}

/*////////////////////////////////////*/
/* Block styling */

/* Make blocks appear collapsible */
.js-suitcase-facet .block-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Reset for panels marked nostyle */
.panel-pane-nostyle {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.panel-panel .pane-content {
	margin-bottom: 10px;
}

/* Enable overflow on panes specifically set to have it */
.panel-pane-overflow .pane-content {
    height: 350px;
    overflow-y: auto;
}

/* Enable overflow on front panel panes of width 4 unless specifically disabled */
.front .grid-4 .panel-pane:not(.panel-pane-fluidheight) .pane-content {
    height: 350px;
    overflow-y: auto;
}

.panel-pane > h2.pane-title,
.region-sidebar-first .block-title,
.region-sidebar-second .block-title {
	font-size: 26px;
	font-weight: 400;
	margin: 0;
}

.panel-pane-nostyle > .pane-content {
  padding: 0;
}

.panel-pane .views-field-title {
  font-size: 18px;
}

.panel-pane .views-field-title a,
.panel-pane .pane-content .item-list li a,
.region-sidebar-first .block .content .item-list li a,
.region-sidebar-second .block .content .item-list li a {
    display: block;
    overflow: hidden;
    transition: all .1s ease;
    border-bottom: none;
    text-decoration: underline;
}

.panel-pane .views-field-title a.facetapi-active,
.panel-pane .pane-content .item-list li a.facetapi-active,
.region-sidebar-first .block .content .item-list li a.facetapi-active,
.region-sidebar-second .block .content .item-list li a.facetapi-active {
    display: inline;
    background: none;
    padding: 0;
    margin-right: 12px;
    vertical-align: text-bottom;
}

.panel-pane .views-field-created > .field-content {
  color: #555;
}

.panel-pane .views-field {
  margin-bottom: 5px;
}

.panel-pane .view-events .views-field-when-tiny-left {
  float: left;
  font-size: 26px;
  padding: 1px 10px 0 0;
  text-transform: uppercase;
  width: 68px;
  line-height: 28px;
  text-align: right;
}

.panel-pane .view-events .views-field-when-tiny-left .date-display-single {
  color: #777;
}

.panel-pane .view-events .views-field-title {
  font-weight: bold;
  font-size: 14px;
}

.panel-panel .pane-content > p {
    padding: 0 10px;
}

.panel-panel .pane-content p:first-child {
    padding-top: 10px;
}

.panel-pane .views-row:not(:last-child),
.panel-pane .pane-content .item-list li:not(:last-child),
.region-sidebar-first .block .content .item-list li:not(:last-child),
.region-sidebar-second .block .content .item-list li:not(:last-child) {
  margin-bottom: 0;
}

.panel-pane .pane-content .item-list li,
.region-sidebar-first .block .content .item-list li,
.region-sidebar-second .block .content .item-list li {
  margin-left: 0;
}

.panel-panel .pane-content .views-row,
.panel-panel .pane-content .node {
    padding: 10px;
}

.panel-panel .pane-content .node {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.panel-panel .pane-content .views-row:not(.views-row-last) {
    border-bottom: 1px solid #ddd;
}

.panel-panel.grid-4 .pane-content li {
    padding: 0;
    margin: 0;
}

.panel-panel.grid-4 .pane-content li > a {
    padding: 10px;
    display: block;
}

.panel-panel .more-link {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color 0.1s ease;
    color: #247bbd;
    margin-bottom: 5px;
    text-align:right;
}

.panel-panel .more-link > a {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color 0.1s ease;
    color: #247bbd;
    margin-bottom: 5px;
}

.panel-panel iframe {
    width: 100% !important;
    padding: 0 10px !important;
}

/* Front Panel */

.front .panel-display .panel-panel:first-child {
    background-color: transparent;
    border: 0;
}

.front .panel-pane > h2.pane-title {
    display: block;
}

.front .panel-pane .pane-content .item-list li {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.front .item-list {
    display: block;
}

.front .view-about-front-page .field-content li {
    margin-left: 20px;
}

/*////////////////////////////////////*/
/* Footer */

#zone-footer ul.menu li {
    margin: 0;
    margin-bottom: 8px;
}

#section-footer img {
    max-width: 100%;
    height: auto !important;
}

#section-footer .block {
    margin-bottom: 16px;
}

#zone-footer > .region:not(:last-child) {
    border-bottom: 1px solid #444;
    margin-bottom: 16px;
}

.node-type-people h1.title {
    float: left;
    border-bottom: none;
    display: inherit;
    width: inherit;
    padding: 0;
    margin-right: 20px;
}

.field-name-field-people-title-category {
    margin-left: 0;
}

.node-people-form .field-multiple-table thead th {
    background: none;
}

.node-people-form .field-multiple-table tbody tr.odd,
.node-people-form .field-multiple-table tbody tr.even {
    background-color: rgba(255, 255, 255, 0);
}

.node-people-form .field-multiple-table tbody tr.odd td {
    background-color: rgba(255, 255, 255, 0.7);
}

.node-people-form .field-multiple-table tbody tr.even td {
    background-color: rgba(0,0,0,0.1);
}

/*////////////////////////////////////*/
/* Taxonomy Views */
.page-taxonomy .zone-content article {
    margin-bottom: 1em;
    border-bottom: 1px dashed rgba(100, 100, 100, 0.3);
}

.page-taxonomy .zone-content article .content {
    margin-left: 1.5em;
}

/*////////////////////////////////////*/
/* Throbber */
html.js input.form-autocomplete.throbbing {
    background-position: 100% -14px;
}

html.js input.form-autocomplete {
    background-image: url('../images/throbber_lugg.gif');
    background-position: 100% 12px;
}

/*////////////////////////////////////*/
/* Alert Boxes */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert-note {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*////////////////////////////////////*/
/* Book Outline Sidebar Block */

.section-content .block .book-outline-sidebar-block > .view-content > .views-row.indent-level-1 {
    border-bottom: 1px solid #ddd;
}

.book-outline-sidebar-block .views-row.indent-level-2 {
    margin-left: 15px !important;
}

.book-outline-sidebar-block .views-row.indent-level-3 {
    margin-left: 30px !important;
}

.book-outline-sidebar-block .views-row.indent-level-4 {
    margin-left: 45px !important;
}

.book-outline-sidebar-block .views-row.indent-level-5 {
    margin-left: 60px !important;
}

.book-outline-sidebar-block .views-row.indent-level-6 {
    margin-left: 75px !important;
}

/*///////////////////////////////////////////////////////////*/
/*/////////////////// Hover Events //////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.site-name-level-3 a:hover {
  color: #f3f3f3;
  text-decoration: none;
}

.item-list a:hover {
    text-decoration: underline;
}

.zone-footer a:hover {
    text-decoration: underline;
}

.form-item input[type="submit"]:hover {
    background: #fff;
}

/*////////////////////////////////////*/
/* Biblio */
.biblio-category-section,
#biblio-header {
    background: rgba(255,255,255,0.8);
    border: 1px solid #ddd;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
    margin-bottom: 20px;
}

.biblio-separator-bar {
    margin: -15px -15px 15px -15px;
    border-bottom: 1px solid #ddd;
    border: none;
}

.pager {
    background: none;
    border: none;
    border-color: inherit;
    border-radius: 0;
    -moz-border-right: 0;
    -webkit-border-right: 0;
}

.biblio-category-section + h2 + .item-list,
.page-search .item-list .pager {
    display: table;
    margin: 0 auto;
}

.pager li.pager-first,
.pager li.pager-previous,
.pager li.pager-item,
.pager li.pager-current,
.pager li.pager-next,
.pager li.pager-last,
.pager li.pager-ellipsis {
    position: inherit;
    top: inherit;
    right: inherit;
    background: none;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.pager li.pager-first {
    border-left: 1px solid #ddd;
}

.pager li.pager-first > a,
.pager li.pager-previous > a,
.pager li.pager-item > a,
.pager li.pager-current,
.pager li.pager-next > a,
.pager li.pager-last > a,
.pager li.pager-ellipsis {
    background: #fff;
    padding: 10px 16px;
    color: #333;
    font-size: 14px;
    width: auto;
    transition: 0.3s ease background;
}

.pager li.pager-current {
    background: rgba(52,52,52,0.1);
}

.pager li.pager-first > a:hover,
.pager li.pager-previous > a:hover,
.pager li.pager-item > a:hover,
.pager li.pager-next > a:hover,
.pager li.pager-last > a:hover {
    background: rgba(255,255,255,0.5);
}

.node-biblio .content>div h3 {
    margin-bottom: 0;
}

/*////////////////////////////////////*/
/* Carets */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    opacity: 0.3;
    margin-top: 14px;
    filter: alpha(opacity=30);
    position: absolute;
    right: 12px;
}

/*////////////////////////////////////*/
/* Webkit Scroll bar */

.zone-content .block ::-webkit-scrollbar,
.front .panel-panel ::-webkit-scrollbar {
    width: 6px;
}

.zone-content .block ::-webkit-scrollbar-track,
.front .panel-panel ::-webkit-scrollbar-track {
    opacity: 0;
}

.zone-content .block ::-webkit-scrollbar-thumb,
.front .panel-panel ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(51,51,51,0.2);
}

/*////////////////////////////////////*/
/* Views */
/* - People */
.views-field.views-field-field-people-position {
    color: #6e6259;
}

/*////////////////////////////////////*/
/* Helper classes */
.display-inline {
    display: inline-block;
}

.insert-default-image-styling {
    margin: 10px;
}

.content-type-indicator.ct-search, .content-type-indicator.ct-node {
  padding: 0;
}

/*////////////////////////////////////*/
/* Admin menu */
#admin-menu {
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.admin-menu-toolbar-category .dropdown {
  box-shadow: 0 0 10px #333;
}

#admin-menu .dropdown li li {
  opacity: 1;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING END */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

figure figcaption {
    color: #818a91;
}

figure .insert-default-image-styling + figcaption {
    margin: 0 10px;
}

/*Ann things*/

.zone-postscript .item-list ul li {
	margin: 0 0 4px 0;
}

.region-postscript {
	margin-bottom: 16px;
}

.views-row-odd,
.views-row-even {
	padding-bottom: 4px;
}

.more-link {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color 0.1s ease;
    color: #247bbd;
    margin-bottom: 5px;
    float: right;
}

.pull-right {
    float: right;
}

.block-current-search .content {
    font-size: 12px;
}

.block-current-search .content>.current-search-item {
    float: left;
}

.block-current-search .content>.current-search-item a {
    text-decoration: none;
    background-color: #333;
    padding: 2px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    margin-right: 4px;
    margin-left: 10px;
}

.block-current-search .content>.current-search-item a:hover {
    background-color: #555;
}

.block-current-search .content .item-list li {
    margin-left: 4px;
    display: inline-block;
}

.region-content img {
    max-width: 100%;
    height: auto !important;
}

/* SECONDARY MENU */

.region-inner.region-secondary-menu-inner {
    background-color: #dddddd;
}

#secondary-menu { margin: 0; padding: 10px; }

.region-secondary-menu .links { margin: 0; }

.region-secondary-menu .links.inline {
    display: inline-block;
}

.region-secondary-menu .links > li {
    padding: 0;
    margin-right: 0;
    white-space: nowrap;
}

.region-secondary-menu .links > li > a {
    padding: 5px 10px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: none;
    transition: background-color 0.5s ease;
}

.region-secondary-menu .links > li.active > a {
    font-weight: bold;
    color: #000;
}

.region-secondary-menu .links > li > a:hover {
    background-color: #cccccc;
}

.region-secondary-menu .links > li:first-child {
    padding-left: 0;
}

.region-secondary-menu .links > li:not(:last-child)::after {
    content: "|";
    display: inline-block;
    margin-top: 2px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 12px;
    color: #333;
    vertical-align: text-top;
}

.menu a>i {
    font-size: 24px;
    vertical-align: bottom;
    margin-right: 10px;
}

.view-expertise .item-list>ul.item-list-item>li.views-row {
    margin-top: 0;
}

.view-id-my_resources .view-content {
    overflow-x: auto;
}

/*---Fixing antialiasing for footers---*/
footer {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.region-content-inner>.tabs {
    margin-bottom: 16px;
}

.region-content-inner>.tabs>.tabs.primary {
    padding: 0;
    margin: 0;
}

.region-content-inner>.tabs>.tabs.primary>li {
    height: initial;
    line-height: 2;
}

.region-content-inner>.tabs>.tabs.primary>li>a {
    background-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: .5em 1em;
    border-bottom-color: transparent;
}

.region-content-inner>.tabs>.tabs.primary>li.active>a {
    background-color: #fff;
}

.region-content-inner>.tabs>.tabs.primary>li>a:hover {
    border-bottom-color: transparent;
}

.region-content-inner>.tabs>.tabs.primary>li:not(.active)>a:hover {
    background-color: #eee;
}

.read-more {
    display: block;
    clear: both;
}

.read-more>a {
    float: right;
}

/*----- Help Text -----*/

.filter-guidelines-wysiwyg .tips,
.form-item .description {
  font-size: 1em;
  color: #000;
}

/*----- Hero Regions -----*/

#zone-menu-wrapper + .zone-hero-header .region-hero-header,
#zone-menu + .zone-hero-header .region-hero-header {
    margin-top: -16px;
}

.region-hero {
    padding-bottom: 16px;
}

/*------- Grid for views -------*/

.luggage-grid .view-content > h3 {
    color: #444;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    display: block;
    clear: both;
}

.luggage-grid .luggage-gridrow {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    margin: 0px 0.25% 8px 0.25%;
    padding: 1em;
    height: auto;
    float: left;
    width: 100%;
    overflow: hidden;
}

.luggage-grid .luggage-gridrow .views-field img {
    float: left;
    margin: 2.5px 15px 2.5px 2.5px;
}

.luggage-grid .luggage-gridrow .views-field-title {
    font-size: 1.1em;
    font-weight: bold;
}

.luggage-grid .luggage-gridrow .luggage-gridgreen {
    margin-bottom: 16px;
}

.luggage-grid .luggage-gridrow .luggage-gridgreen,
.luggage-grid .luggage-gridrow .luggage-gridgreen a {
    font-style: italic;
    color: rgb(36, 109, 73);

}
